<section>
	<div class="container-fluid">
		<div class="row e-form">
			<div class="col-md-offset-4 col-md-4 event-form">
				<%= form_for @event do |f| %>
					<h1 class="text-center">Create an Event!</h1>
					<div class="form-group">
					<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
					</div>

					<div>
					<%= f.text_area :description, placeholder: "About this event...", class: "form-control", :cols => 40, :rows => 10 %>
					</div>

					<div>
					<%= f.text_field :address, placeholder: "Full Address", class: "form-control"  %>
					</div>

					<div>
					<%= f.label :start_time %>
					<%= f.datetime_select :start_time %>
					</div>

					<div>
						<%= f.label :image, "Upload Image" %>
						<%= f.file_field :image %>
					</div>
					<br>
					<%= f.submit "Submit", class: "btn btn-success" %>

				<% end %>
			</div>
		</div>
	</div>
</section>
