<!DOCTYPE html>
<html>
<head>
  <title>Torrance First Presbyterian Church | English Ministry</title>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Quicksand|Lobster|Open+Sans+Condensed:300|Nunito|Pacifico|Chewy' rel='stylesheet' type='text/css'>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://rawgithub.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>
  <script src="/assets/javascripts/main.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll">
<%= render 'shared/nav' %>
<%= yield %>

</body>
</html>
